header{
    height: 50px;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
}

#logo{
    display: flex;
    text-decoration: none;
    color: white;
}

.opciones-nav li:hover{
    color: #804114;
}

.fondo{
    background-color: #ebebeb;
}

.titulo-flex{
    display: flex;
    justify-content: space-between;
}

.box{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

.box:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}

.addButton{
    background-color: #804114;
}